#contact {
  min-height: 100vh;
  background: linear-gradient(to top, #8d89cd, #a8a5f4);
}
.fix {
  margin-bottom: -80px;
}
.head {
  font-size: 40px;
}
#info {
  margin: 40px auto 20px auto;
  font-size: 32px;
  width: 700px;
  text-decoration: underline;
}

form {
  max-width: 600px;
  margin: 28px auto 28px auto;
  padding: 20px;
}

/* .form-floating input {
  background-color: rgba(85, 69, 181, 0.5);
}
.form-floating textarea {
  background-color: rgba(85, 69, 181, 0.5); 
} */

#submit {
  width: 100%;
}

footer img {
  position: relative;
  bottom: 90px;
  left: 150px;
  transform: scale(1.5);
}

.footer {
  display: flex;
  justify-content: space-around;
  color: beige;
}

.footer input {
  width: 500px;
  height: 60px;
}

#emailBtn {
  height: 60px;
  background-color: #8d89cd;
  border-radius: 10px;
  padding: 20px;
  margin-left: 10px;
  outline: transparent;
}
.footer h4 {
  font-size: 26px;
}
#copy{
  font-size: 20px;
}