@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.text {
  font-size: 3.5rem;
  font-weight: 800;
  color: black;
  letter-spacing: 2px;
}
.row {
  padding-top: 200px;
}
.hero {
  background-image: url("./../images/backgound.jpeg");
  min-height: 100vh;
}
#heroImage {
  transform: scale(1.5);
}
#dig{
  background-color: yellow;
  /* color:lightgreen; */
}
#contBtn{
  margin: 0 200px;
}
