Section.services {
  min-height: 100vh;
  background: linear-gradient(to top, #7a75c7, #a8a5f4);
}

.number {
  font-family: monospace;
  font-weight: 800;
  font-size: 36px;
  padding-top: 15px;
}
.number::after {
  content: "+";
  position: relative;
  left: 100px;
  bottom: 55px;
}
.number:first-child::after {
  left: 127px;
}
.label {
  font-size: 30px;
  font-weight: 500;
}

.heading {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin-bottom: -150px;
  margin-top: 20px;
}
.panel {
  background: linear-gradient(to top, #48428e, #6360be);
  width: (100vw / 2);
  padding: 20px 20px;
  border-radius: 10px;
  margin: 10px auto;
}

@media screen and (max-width: 1000px) {
  .panel {
    width: calc(100vw - 70px);
  }
}
@media screen and (max-width: 585px) {
  .panel {
    width: calc(100vw - 35px);
  }
}
